* {
  margin: 0;
  padding: 0;
  /* smoth */
  scroll-behavior: smooth;
}
.nv {
  position: sticky;
  top: 0;
  z-index: 1;
}
.foto {
  width: 220px;
  height: 250px;
  border-radius: 50%;
}

.image-size {
  width: 15rem;
}

.card-size {
  height: 150px;
  border-radius: 5px 5px 0 0;
}